form {
    margin: 0;
}

#stat-filter {
    border-radius: 0;
    margin-bottom: 2px;
    width: auto;
    height: 20px;
    padding: 1px 1px;
    font-size: 12px;
}

.chart-toolbar {
    font-size: 12px;
    padding: 5px 0 2px 0;
}

.chart-toolbar .tool-label {
    margin-right: 6px;
}

.chart-toolbar input[type="text"] {
    font-size: 12px;
    border: 1px solid #cccccc;
    border-radius: 0;
    width: 80px;
    height: 14px;
    margin-bottom: 2px;
    padding: 2px 1px;
}

.chart-option {
    margin-right: 20px;
}

.zoom-range {
    display: inline-block;
    margin-bottom: 0px;
}

.zoom-range a {
    text-decoration: none;
}

.zoom-range a.active {
    font-weight: bold;
    text-decoration: underline;
}

.zoom-range li {
    display: inline-block;
    margin-right: 7px;
}

#gamelog-table {
    margin-top: 10px;
}

#gamelog-chart {
    border: 1px solid #e2e2e6;
}

.page-section {
    margin-top: 10px;
    margin-bottom: 20px
}
#header-section {
    margin-top: 0px;
    margin-bottom: 0px;
}
#radar-chart {
    margin: 0 auto;
}
.statcat-list {
    border-top: 1px solid #e2e2e6;
    border-right: 1px solid #e2e2e6;
    border-left: 1px solid #e2e2e6;
}

/*
.statcat-list>li>a {
    padding: 5px 10px;
    display: block;
    border-bottom: 1px solid #e2e2e6;
}
.statcat-list>li>a:hover, .statcat-list>li>a.active {
    background-color: #0088cc;
    color: #fff;
}
*/

.stream-container-nobd {
    padding: 0px 0px;
}

.stream-item-nobd {
    line-height: 1.5;
    padding: 5px 15px;
}


.stream-container {
    border-top: 1px solid #e2e2e6;
    padding: 0px 0px;
}
.stream-items {
    list-style: none;
    margin: 0
}
.stream-item {
    line-height: 1.5;
    padding: 5px 15px;
    border-bottom: 1px solid #e2e2e6;
    border-right: 1px solid #e2e2e6;
    border-left: 1px solid #e2e2e6;
}
.tweet-container {
    min-height: 40px;
    padding: 9px 12px;
}
.tweet-content {
    margin-left: 58px;

}
.tweet-avatar {
    float: left;
    margin-left: -60px;
    width: 48px;
    height: 48px;
    border-radius: 5px;
    margin-top: 3px;

}
.time {
    position: relative;
    float: right;
    color: #89919c;
    font-size: 11px;
}
#loaderBlock {
    display: none;
}
#loaderBlock img {
    display: block;
    margin: 0 auto;
}


#youtube-player {
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
    width: 100%;
}

#youtube-player iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

@media (min-width: 767px) {
    #video-section {
        padding-top: 15px;
        padding-bottom: 30px;
    }
    .video-sidebar {
        height: 400px;
        overflow-y: hidden;
    }

    .video-sidebar:hover {
        overflow-y: auto;
    }
}

.video-item {
    margin-bottom: 15px;
}

.video-item img {
    width: 120px;
    height: 90px;
}

ul.video-list {
    margin-left: 0;
    list-style: none;
}

ul.video-list li.highlight, .video-item:hover {
    cursor: pointer;
    border: 1px solid #e2e2e6;
    font-weight: bold;
    background-color: rgb(241, 241, 241);
}

.video-item .title {
    padding-left: 10px;
    overflow: hidden;
    display: block;
}

.follow-form {
    /* position: relative; */
    height: 20px;
    margin: 0 0;
    float: left;
}

.follow-form .btn {
     position: relative;
     /* top: 10px; */
     margin-right: 7px;
}

.player-info {
    margin-top: 7px;
    line-height: 40px;
    height: 40px;
}

.team-info {
    margin: 1px 5px 4px 0;
    float: right;
    font-weight: bold;
}

h1.player-name {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 10px;
    float: left;
    font-size: 38.5px;
    font-weight: 300;
    /* height: 35px; */
}

.player-navbar {
    padding: 0 10px 0 0;
    border-bottom: 1px solid #dddddd;
    color: black;
    margin-top: 3px;
    font-size: 16px;
 }

.player-navbar ul {
    margin: 0;
    display: inline-block;
}

.player-navbar li {
    display: inline-block;
    margin-right: 20px;
}

.player-navbar li:hover, .player-navbar li.active {
    border-bottom: 3px solid #2f7ed8;
}

.player-navbar li a {
    padding: 4px 0;
    color: black;
    display: inline-block;
    text-decoration: none;
}

tr.similar-player {
    cursor: pointer;
}

tr.similar-player:hover {
    background-color: #E5F3F9;
}

.rating-score {
    display: inline-block;
    margin-bottom: 0;
}

ul.rating-score {
    float: left;
}

.rating-score li {
    display: inline-block;
    padding: 10px;
    border: 1px solid #e2e2e6;
    width: 33px;
}

.follow-info {
    display: inline-block;
    height: 40px;
    margin-left: 8px;
    float: left;
}

.friend-follower {
    color: #999;
    font-size: 90%;
    float: left;
}

.rating-entry {
    border-bottom: 1px solid #e2e2e6;
    margin-bottom: 10px;
}

.opinion-submit {
    margin-left: 5px;
}

.opinion-submit a {
    color: black;
}

.r-title h3 {
    line-height: 20px;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
}

.r-content h1, .r-content h2, .r-content h3, .r-content h4, .r-content h5, .r-content h6
{
    line-height: 20px;
    font-size: 100%;
}

.r-info {
    font-size: 85%;
    color: #999
}

.rate-cmds {
    height: 1.5em;
}

.r-content blockquote {
    border-left : 6px solid #ccc;
    margin: 1em 0px;
    padding: 0 10px;
    quotes: "\201C" "\201D";
}

.r-content blockquote p {
    font-size: 14px;
}
/*
.r-content blockquote:before { content: open-quote; font-weight: bold; }
.r-content blockquote:after { content: close-quote; font-weight: bold; }
*/

.r-content ul {
    margin: 1em 2em;
    list-style-type: disc;
}

/* Rate form */
.markdown-help-area {
    margin-top: 5px;
}
div.error {
    border-color: #b94a48;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.opinion-form {
    padding: 20px 40px 20px 5px;
    margin: 0;
    border: 1px solid #e2e2e6;
}

.controls input[type=text], .controls textarea {
    width: 100%;
}

.controls textarea {
    height: 200px;
}

.control-label {
    font-weight: bold;
}

.rating-choice {
    margin: 0;
    list-style: none;
    overflow: hidden;
}

.rating-choice li {
    display: inline;
}

.rating-choice label {
    display: inline-block;
    position: relative;
    width: 25%;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    color: #999;
    text-align: center;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

}

.rating-choice li + li {
    margin-left: 10px;
}

.rating-choice input[type=radio] {
    display: none;
}

.thumbsup-btn:hover, input[type=radio]:checked + label.thumbsup-btn {
    color: #468847;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    font-weight: bold;
}

.thumbsdown-btn:hover, input[type=radio]:checked + label.thumbsdown-btn {
    color: #d14;
    background-color: #FFCCCC;
    border: 1px solid #FFB2B2;
    font-weight: bold;
}

i.icon-thumbs-up, i.icon-thumbs-down {
    margin-right: 3px;
}

.rate-form-title {
    font-size: 18px;
    margin-bottom: 0px;
}
table.format-info, .format-info td {
    border: 1px black solid;
}
table.format-info {
    width: 100%;
}
.format-info td {
    width: 50%;
    padding: 4px;
    vertical-align: middle;
}



/* profile page */
.profile-card .username {
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    margin: 0;
}
.profile-card li {
    height: 20px;
    padding: 15px 5px 10px 5px;
    border-bottom: 1px solid #e2e2e6;
}

.profile-stat-name {
    display: block;
    font-size: 12px;
}

.profile-stat-value {
    display: block;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 3px;
}
.player-list li {
    height: 35px;
    padding: 5px 5px 5px 10px;
    border: 1px solid #e2e2e6;
    margin-top: 10px;
}
.player-list .playername {
    float: left;
    width: 200px;
    font-size: 14px;
    font-weight: bold;
    line-height: 35px;
}
.profile-stat-navbar {
    border: 1px solid #d4d4d4;
}
.profile-stat-navbar .navbar-inner {
    padding-left: 0px;
}
.profile-stat-navbar li {
    text-align: center;
    border-right: 1px solid #d4d4d4;
    display: inline-block;
    width: 80px;
}
.profile-stat-navbar>li>a {
    padding: 15px 15px 10px;
    display: block;
    text-decoration: none;
    color: #555555;
}
.profile-stat-navbar>li.active>a,.profile-stat-navbar>li>a:hover {
    color: #555555;
    background-color: #e5e5e5;
}


.player-list .action .unfollow {
    margin-top: 5px;
}



/* register page */
.fb-login-info {
    margin-top: 10px;
}
.fb-btn {
    border: 1px solid #31497b;
    background-color: #4a6bb2;
    padding: 7px 15px 7px 7px;
    cursor: pointer;
    background-image: linear-gradient(to bottom,#5d7dc2,#2e5099);
}
.fb-btn:hover {
    background-image: linear-gradient(to bottom,#516ca8,#264380);
}
.fb-btn .fb-logo {
    background: url("/static/img/FB-f-Logo__white_29.png");
    width: 29px;
    height: 29px;
    float: left;
    margin-right: 10px;
}
.fb-btn .text {
    color: #FFFFFF;
    font-size: 14px;
    display: inline-block;
    margin-top: 6px;
}
.rounded {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

.full-bg-jordan1 { 
  background: url(/static/img/blue_jordan.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.signup-prompt {
    border: solid black 1px;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: rgba(0,0,0,0.6);
    color: white;
}


@media (min-width: 1200px) {
    .signup-prompt {
        width: 30%;
        height: 35%;
        margin-left: -20%;
        margin-top: -20%;
        padding: 20px 30px;
    }
}
@media (max-width: 1199px) and (min-width: 768px) {
    .signup-prompt {
        width: 45%;
        height: 40%;
        margin-left: -20%;
        margin-top: -20%;
        padding: 10px 15px;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen and (max-device-width: 480px) {
    .signup-prompt {
        width: 45%;
        height: 40%;
        /*
        margin-left: -22%;
        margin-top: -20%;
        */
        padding: 10px 15px;
    }
}

@media (max-width: 767px) {
    .signup-prompt {
        width: 80%;
        height: 60%;
        margin-left: -42%;
        margin-top: -50%;
        padding: 5px 10px;
    }
}

.signup-prompt h1 {
    border-bottom: solid #e2e2e6 1px;
    padding-bottom: 3px;
    font-size: 24px;
    font-weight: 300;
}
.signup-content {
    margin-top: 20px;
}


/* index */
.full-bg-hoop1 { 
  background: url(/static/img/background_image1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.credit {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #FFF;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.9);
    font-size: 85%;
    padding: 0.4em;
    background-color: rgba(0,0,0,0.6);
}

.credit a {
    color: white;
}

.landing-page .header-section {
    height: 500px;
    border-bottom: 2px solid black;
    margin-top: -20px;
    position: relative;
}

@media (max-width: 767px) {
    .jumbotron {
        margin-left: -20px;    
        margin-right: -20px;
    }
    section .headline {
        padding: 1.2em;
        height: 2.5em;
        /* height: 20%; */
        width: 80%;
        margin: -1.25em 0 0 -45%;
    }
    section .headline h1 {
        font-size: 1.2em;
    }

    .landing-page .header-section {
        height: 350px;
    }
}
@media (max-width: 1199px) and (min-width: 768px) {
    section .headline {
        padding: 20px;
        height: 1.6em; 
        width: 70%;
        margin: 0 0 0 -35%;
    }
    section .headline h1 {
        font-size: 1.5em;
    }
    .landing-page .header-section {
        height: 450px;
    }
}
@media (min-width: 1200px) {
    section .headline {
        padding: 20px;
        height: 2em; 
        width: 60%;
        margin: 0 0 0 -30%;
    }
    section .headline h1 {
        font-size: 1.7em;
    }
    .landing-page .header-section {
        height: 500px;
    }
}

.landing-page .benefit-section {
    /* height: 250px; */
    padding: 25px 0;
}

.landing-page .more-awesome-section {
    background-color: #272727;
    height: 300px;
    color: #fff;
}

section .headline {
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    text-align: center;
}

section .headline h1 {
    margin: 0;
    font-weight: 400;
    line-height: 1.2;
}

section.benefit-section h2 {
    font-weight: 400;    
}

section.more-awesome-section h3 {
    font-size: 28px;
    font-weight: 400;
    padding-top: 50px;
}

section.more-awesome-section .awesome-text {
    text-align: center;
}

.benefit-text, .awesome-text {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 25px;
}

span.overlay { 
   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding-left: 10px; 
   padding-right: 10px; 
}
.flash-msg {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 350px;
    margin: 0 0 0 -175px;
    left: 50%;
    position: absolute;
    top: 50px;
}

/* player list */
#position-list {
    margin-bottom: 0;
}
#position-list label {
    margin-bottom: 0;
}
#season-list select {
    margin-bottom: 0;
}
.slider-range-text {
    border: 0;
    color: #f6931f;
    font-weight: 300;
}
.filter-box {
    padding-top: 10px;
    padding-bottom: 10px;
}
.filter-name label {
    margin-bottom: 0;
}
.filter-name strong {
    font-weight: 500;
}
.range-slider {
    margin-top: 7px;
}
.ui-slider .ui-slider-handle {
    width: 7px;
    margin-left: -1px;
    margin-top: -2px;
}
.ui-slider-horizontal {
    height: .4em;
}

#result-table_info, #result-table_paginate {
    padding-top: 7px;
}
#result-wrapper {
    margin-top: 20px
}

/* general */
.header {
    font-weight: 300;
    font-size: 38.5px;
}

.subheader {
    font-weight: 200;
    font-size: 24px;
    margin: 0;
}

.fp-header-section {
    margin-top: 10px;
}
.twitter-logo {
    font-weight: 200;
    margin: 0;
}
.twitter-logo .big {
    font-size: 24px;
    vertical-align: middle;
}
.twitter-logo .small {
    font-size: 14px;
}
.twitter-logo img {
    width: 30px;
    height: 30px;
}
.footer-section {
    margin-top: 4em;
    height: 200px;
    background-color: #272727;
    color: #fff;
}
.footer-section h4 {
    font-weight: 100;
}
.footer-section section {
    background-color: #272727;
    height: 150px;
    float: left;
    margin-top: 20px;
    border-right: solid 1px #616161;
}
.footer-section a {
    color: #fff;
}

@media (max-width: 767px) {
    .footer-section section {
        padding-right: 10px;
        margin-right: 10px;
        margin-left: 10px;
    }
}

@media (min-width: 768px) {
    .footer-section section {
        padding-right: 70px;
        margin-right: 70px;
    }
}
